%% -*- mode: Erlang; -*-
{require_otp_vsn, "18"}.
{deps, [
  {lager, "3.0.2"},
  {ulitos, "0.3.0"},
  {aws_cli, "0.1.0"},
  {jsx, "2.8.0"},
  {erlexec, "1.1.0"},
  {amqp_client, "3.5.6"}
]}.

{erl_opts, [debug_info, {i, "apps"}, {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{eunit_opts, [
  no_tty,
  {report, {eunit_progress, [colored, profile]}}
]}.

{shell, [{config, "test/test.config"}]}.
