%% -*- mode: Erlang; -*-
{require_otp_vsn, "18"}.
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", "3.0.2"}},
  {ulitos, ".*", {git, "https://github.com/palkan/ulitos.git", {tag, "v0.2.0"}}},
  {media, ".*", {git, "https://github.com/fyler/media.git", {branch, "master"}}},
  {erlexec, ".*", {git, "https://github.com/saleyn/erlexec.git", {branch, "master"}}},
  {amqp_client, ".*", {git, "https://github.com/rabbitmq/rabbitmq-erlang-client", "master"}},
  {rabbit_common, ".*", {git, "git://github.com/jbrisbin/rabbit_common.git", "rabbitmq-3.5.6"}},
  {lager_honeybadger_backend, ".*", {git, "https://github.com/fyler/lager_honeybadger_backend.git", {branch, "master"}}}
]}.
{erl_opts, [debug_info, {i, "apps"}, {parse_transform, lager_transform}]}.
{pre_hooks, [
  {compile, "./scripts/gen_handlers_list.erl"}
]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{ct_dir, "specs"}.
{ct_log_dir, "specs/logs"}.
{eunit_opts, [
  no_tty,
  {report, {eunit_progress, [colored, profile]}}]}.
