%% -*- mode: Erlang; -*-
{require_otp_vsn, "19"}.

{deps, [
  {lager, "3.2.1"},
  {ulitos, "0.3.0"},
  {aws_cli, "0.1.0"},
  {jsx, "2.8.0"},
  {erlexec, "1.1.0"},
  {amqp_client, "*.", {git, "https://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}}
]}.

{erl_opts, [debug_info, {i, "apps"}, {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{eunit_opts, [
  no_tty,
  {report, {eunit_progress, [colored, profile]}}
]}.

{ct_opts, [
  {dir, "test"},
  {logdir, "test/logs"},
  {config, "test/test.config"}
]}.
